
body {
	color: #555555;
	font-family: Arial;
}

img {
	float: left;
	margin-bottom: 22px;
}

h1 {
	float: left;
	margin-top: 50px;
	margin-left: 120px;
}

hr {
	clear: left;
}

h2 {
	color: black;
	font-size: 18px;
}


th {
	font-size: 14px;
	height: 40px;
	text-align: left;
}

th:first-child,td:first-child {
	width: 100px;
	font-weight: bold;
}

[class] {
	background-color: orange;
}

.id {
	width: 100px;
	font-style: bold;
}

#margin {
	margin-top: 40px;
}

#buffer {
	margin-top: 18px;
}

td:hover {
	background-color: #FEFFDB;
	cursor: pointer;
}

legend {
	padding: 10px;
}

header {
	font-family: Arial;
	font-size: 16px; 
	background-color: orange; 
	text-align: left;
	padding: 14px;
	margin-bottom: 14px;
}

footer {
	font-family: Arial;
	font-size: 12px; 
	background-color: orange; 
	text-align: center;
}

.box {
	background-color: darkorange;
	padding: 30px;
	border-width: medium;
	border-style: solid;
	border-color: tomato;
}

