
.button1 {
	margin: auto;
	padding: 20px;
}

.button2 {
	margin: auto;
	padding: 20px;
}

.button3 {
	margin: auto;
	padding: 20px;
}

.button4 {
	margin: auto;
	padding: 20px;
}

.button5 {
	margin: auto;
	padding: 20px;
}

.button6 {
	margin: auto;
	padding: 20px;
}