html,
body,
div,
h1,
h2,
p,
ul,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font - size: 100 % ;
    vertical - align: baseline;
}

html {
    line - height: 1;
}

ul {
    list - style: none;
}

section {
    display: block;
}

body {
    background: #edeff0;
    padding: 50 px 0 0;
    font - family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans - serif;
    font - size: 62.5 % ;
}

h1,
h2 {
    font - size: 2.4e m;
    font - weight: 400;
    margin - bottom: 8 px;
    color: #384047;
  line-height: 1.2;
}

h2 {
  font-size: 1.8em;
}

p {
  color: # 8 d9aa5;
    font - size: 1.4e m;
    margin - bottom: 15 px;
    line - height: 1.4;
}

.container {
    box - sizing: border - box;
    width: 90 % ;
    max - width: 1080 px;
    background: white;
    padding: 30 px 15 px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border - radius: 5 px; - webkit - box - shadow: 0 1 px 0 0 rgba(0, 0, 0, 0.1); - moz - box - shadow: 0 1 px 0 0 rgba(0, 0, 0, 0.1);
    box - shadow: 0 1 px 0 0 rgba(0, 0, 0, 0.1);
}

.button {
    background: #3f8abf;
  padding: 8px 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  color: white;
  font-weight: 500;
  border: 3px solid # 3 f8abf;
    outline: none;
    cursor: pointer;
    display: -moz - inline - stack;
    display: inline - block;
    vertical - align: middle; * vertical - align: auto;
    zoom: 1; * display: inline; - webkit - border - radius: 5 px; - moz - border - radius: 5 px; - ms - border - radius: 5 px; - o - border - radius: 5 px;
    border - radius: 5 px; - webkit - box - shadow: 0 2 px 0 0 #3574a0;
  -moz-box-shadow: 0 2px 0 0 # 3574 a0;
    box - shadow: 0 2 px 0 0 #3574a0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: # 397 cac;
    border - color: #397cac;
  -webkit-box-shadow: 0 2px 0 0 # 2 c6085; - moz - box - shadow: 0 2 px 0 0 #2c6085;
  box-shadow: 0 2px 0 0 # 2 c6085;
}
