
body {
	color: #555555;
	font-family: Arial;
}

img {
	float: left;
	margin-bottom: 22px;
}

h1 {
	float: left;
	margin-top: 50px;
	margin-left: 150px;
}

hr {
	clear: left;
}

h2 {
	color: black;
	font-size: 18px;
}


th {
	font-size: 14px;
	height: 40px;
	text-align: left;
}

th:first-child,td:first-child {
	width: 100px;
	font-weight: bold;
}

#margin {
	margin-top: 40px;
}

#buffer {
	margin-top: 18px;
}

td:hover {
	background-color: #FEFFDB;
	cursor: pointer;
}

legend {
	padding: 10px;
}

footer {
	font-family: Arial;
	font-size: 12px; 
	background-color: orange; 
	text-align: center;
}

