body {
    color: #555555;
    font-family: Arial;
}

img {
    float: left;
    margin-bottom: 22px;
}

h1 {
    float: left;
    margin-top: 50px;
    margin-left: 10%;
}

hr {
    clear: left;
}

h2 {
    color: black;
    font-size: 18px;
}

th {
    font-size: 14px;
    height: 40px;
    text-align: left;
}

h3 {
    text-align: center;
}

th:first-child,
td:first-child {
    width: 100px;
    font-weight: bold;
}

.tblhd {
    background-color: orange;
}

.id {
    width: 100px;
    font-style: bold;
}

#margin {
    margin-top: 40px;
    text-align: center;
}

#extra-space {
    margin-top: 40px;
}

#buffer {
    margin-top: 18px;
}

td:hover {
    background-color: #FEFFDB;
    cursor: pointer;
}

legend {
    padding: 10px;
}

header {
    font-family: Arial;
    font-size: 12px;
    background-color: orange;
    text-align: left;
    margin-bottom: 14px;
    border-width: small;
    border-style: solid;
    border-color: darkorange;
}

footer {
    font-family: Arial;
    font-size: 12px;
    background-color: orange;
    text-align: center;
}

.box {
    background-color: darkorange;
    padding: 30px;
    border-width: medium;
    border-style: solid;
    border-color: tomato;
    margin-bottom: 22px;
}

.main-header {
    position: relative;
    top: 0;
    width: 100%;
}

.main-nav {
    display: -webkit: flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
}

.main-nav li {
    align-self: center;
    list-style: none;
    flex-grow: 1;
    margin-left: 4px;
}

.header-logo:first-child {
    margin-right: 50%;
    flex-grow: 12;
}

.form-box {
    background-color: darkorange;
    padding: 12px;
    border-height: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: tomato;
    overflow: auto;
    margin-top: 22px margin-bottom: 22px;
    position: left;
    width: 300px;
}

textarea {
    width: 270px;
}

.form2 select {
    padding: 10px;
    margin: 10px 0;
}

#form-fields input,
#form-fields label {
    display: block;
    min-width: 60%
}

#main-wrapper {
    max-width: 95%;
    padding: 25px;
    page: center;
}

p {
    text-align: center;
}

@media screen and (max-width: 480px) {
    #top_page_links {
        display: -webkit: flex;
        display: flex;
        -webkit-flex-direction: column;
    }
    .logo {
        display: -webkit: flex;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}
