
body {
	color: #555555;
	font-family: Arial;
}

img {
	float: left;
	margin-bottom: 22px;
}

h1 {
	float: left;
	margin-top: 50px;
	margin-left: 120px;
}

hr {
	clear: left;
}

h2 {
	color: black;
	font-size: 18px;
}


th {
	font-size: 14px;
	height: 40px;
	text-align: left;
}

th:first-child,td:first-child {
	width: 100px;
	font-weight: bold;
}

.tblhd {
	background-color: orange;
}

.id {
	width: 100px;
	font-style: bold;
}

#margin {
	margin-top: 40px;
}

#buffer {
	margin-top: 18px;
}

td:hover {
	background-color: #FEFFDB;
	cursor: pointer;
}

legend {
	padding: 10px;
}

header {
	font-family: Arial;
	font-size: 12px; 
	background-color: orange; 
	text-align: left;
	padding: 6px;
	margin-bottom: 14px;
	border-width: small;
	border-style: solid;
	border-color: darkorange;
}

footer {
	font-family: Arial;
	font-size: 12px; 
	background-color: orange; 
	text-align: center;
}

.box {
	background-color: darkorange;
	padding: 30px;
	border-width: medium;
	border-style: solid;
	border-color: tomato;
	margin-bottom: 22px;
}

.main-header {
	position: relative;
	top: 0;
	width: 100%;
	height: 60px;
}

.main-nav {
	display:flex;
	heigt: 100%;
}

.main-nav li {
	align-self: center;
	flex-grow: 1;
	margin-left: 4px;

}

.header-logo:first-child {
	margin-right: 50%;
	flex-grow:12;
}

.form-box {
	background-color: orange;
	padding: 30px;
	border-width: medium;
	border-style: dashed;
	border-color: tomato;
	overflow: auto;
}

